<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.in.patient">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patient"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MyPrescriptions"
            android:exported="true" />
        <activity
            android:name=".activity.MyQuestion"
            android:exported="true" />
        <activity
            android:name=".activity.MyOrder"
            android:exported="true" />
        <activity
            android:name=".activity.MedicinesOrder"
            android:exported="true" />
        <activity
            android:name=".activity.LabTest"
            android:exported="true" />
        <activity
            android:name=".activity.ChatDashboard"
            android:exported="true" />
        <activity
            android:name=".activity.Chat"
            android:exported="true" />
        <activity
            android:name=".activity.Search"
            android:exported="true" />
        <activity
            android:name=".activity.BookAppointment"
            android:exported="true" />
        <activity
            android:name=".activity.DoctorProfile"
            android:exported="true" />
        <activity
            android:name=".activity.AccountSetting"
            android:exported="true" />
        <activity
            android:name=".activity.MyWallet"
            android:exported="true" />
        <activity
            android:name=".activity.MyReview"
            android:exported="true" />
        <activity
            android:name=".activity.MyAppointments"
            android:exported="true" />
        <activity
            android:name=".activity.ProfileSetting"
            android:exported="true" />
        <activity
            android:name=".activity.SignIn"
            android:exported="true" />
        <activity
            android:name=".activity.SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>